extends layout

block content
  a(href="/experiment/new") créer
  ul
    each experiment in experiments
      li= experiment.title
        a(href=`/experiment/${experiment.id}`) voir le screenshot
    else
      li There are no experiment

