@font-face {
    font-family: "Sine";
    src: url("Lalezar-Regular.ttf");
}

html, body {
    margin: 0;
    overflow: hidden;
    font-family: Sine;
}

canvas {
    display: none;
}

.welcome {
    text-align: center;
}

.footer-credits {
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.title {
    font-size: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: black;
    width: 0%;
    z-index: 100;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

a{
    color: black;
    text-decoration: none;
    height: 100%;
    width: 100%;
    position: absolute;
}


